<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Vaga</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Nova Vaga</h1>

    <form th:action="@{/empresa/vagas/save}" th:object="${vaga}" method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" th:field="*{titulo}" required />
        <br/>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" th:field="*{descricao}" required></textarea>
        <br/>

        <label for="localizacao">Localização:</label>
        <input type="text" id="localizacao" th:field="*{localizacao}" required />
        <br/>

        <label for="tipoContrato">Tipo de Contrato:</label>
        <input type="text" id="tipoContrato" th:field="*{tipoContrato}" required />
        <br/>

        <label for="salario">Salário:</label>
        <input type="number" id="salario" th:field="*{salario}" step="0.01" required />
        <br/>

        <label for="remoto">É remoto?</label>
        <input type="checkbox" id="remoto" th:field="*{remoto}" />
        <br/>

        <label for="dataLimite">Data Limite:</label>
        <input type="date" id="dataLimite" th:field="*{dataLimite}" required />
        <br/>

        <button type="submit">Salvar</button>
    </form>
</div>
</body>
</html>
