body {
    font-family:Arial;
    background-color: #f2f2f2;
}

h1{
    color: #333;
    font-size:18px;
}

h2{
    color: #333;
    font-size:15px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(66, 18, 18);
    color:white;
    position: sticky;
    top: 0;
    width: 100%;    
    padding: 10px 20px;
    margin-left: -20px;
    margin-top: -20px;
}

.navbar-logo a{
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    text-decoration: none;
    color:white;
}

.navbar-links a{
    font-size: 14px;
    color:white;
    text-decoration: none;
    margin-right: 10px;    
}

.conteudo{
    margin-left:20px;
    margin-top:40px;
    font-size: 16px;
}

.formulario {
    margin-top: 20px;
    display: none;
}

.invalid-feedback {
    display: block;
    color: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
