<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <body>
        <div layout:fragment="conteudo" class="conteudo">
<h2>Candidaturas para esta vaga</h2>

<div th:each="c : ${candidaturas}">
    <p><strong th:text="${c.profissional.nome}"></strong></p>
    <p>Status atual: <span th:text="${c.status}"></span></p>

    <a th:href="@{'/candidatura/' + ${c.id} + '/avaliar'}" class="btn btn-info">
        Avaliar
    </a>
    <hr>
</div>

        </div>
    </body>
</html>