<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{register.successTitle}">Cadastro realizado</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="conteudo">
            <h1 th:text="#{register.successMessage}">Cadastro realizado com sucesso!</h1>
            <a th:href="@{/}" th:text="#{register.backHome}">Voltar para a página inicial</a>
        </div>
    </body>
</html>
