<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Vagas</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="navbar">
            <div class="navbar-logo"><a href="/">Sistema de Vagas</a></div>
            <div class="navbar-links">
                <a href="/cadastro">Cadastre-se</a>
                <a href="/login">Login</a>
                <a href="/vagas">Vagas</a>
            </div>
        </div>

        <div class="conteudo">
            <h1>Bem-vindo ao Sistema de Vagas</h1>
        </div>
    </body>
</html>