<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="conteudo">
    <h1 th:text="#{profissional.lista}">Lista de Profissionais</h1>

    <a href="/admin/profissionais/new" th:text="#{profissional.novo}">Novo Profissional</a>

    <table border="1">
        <thead>
            <tr>
                <th th:text="#{profissional.nome}">Nome</th>
                <th th:text="#{profissional.email}">Email</th>
                <th th:text="#{profissional.cpf}">CPF</th>
                <th th:text="#{profissional.ativo}">Ativo</th>
                <th th:text="#{acoes}">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="profissional : ${profissionais}">
                <td th:text="${profissional.nome}">Nome</td>
                <td th:text="${profissional.email}">Email</td>
                <td th:text="${profissional.cpf}">CPF</td>

                <td>
                    <span th:if="${profissional.enabled}" th:text="#{sim}">Sim</span>
                    <span th:unless="${profissional.enabled}" th:text="#{nao}">Não</span>
                </td>

                <td>
                    <a th:href="@{'/admin/profissionais/edit/' + ${profissional.id}}" th:text="#{botao.editar}">Editar</a>
                    |
                    <a th:href="@{'/admin/profissionais/delete/' + ${profissional.id}}"
                       th:onclick="'return confirm(\'' + #{confirmar.excluir.profissional} + '\');'"
                       th:text="#{botao.excluir}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
